{% extends 'base.html.twig' %}

{% block title %}🎮 TaskController!{% endblock %}

{% block body %}

<div>
{{form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>

{% endblock %}
