{% extends 'base.html.twig' %}

{% block title %}Hello PruebaController!{% endblock %}

{% block body %}
<div>
    <h1>Number</h1>
    {{dump(controller_name)}}
    {{dump(var_nueva)}}
</div>
{% endblock %}
